# 데이터 수정

In [29]:
import pandas as pd
df=pd.read_excel("score.xlsx", index_col="지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Column 수정

In [2]:
df['학교'].replace({'북산고': '상북고', '능남고': '무슨고'})

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    무슨고
7번    무슨고
8번    무슨고
Name: 학교, dtype: str

In [3]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [30]:
df['학교'] = df['학교'].replace({'북산고': '상북고'})
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      Python
2번    정대만  상북고  184   40   35   50  55  25        Java
3번    송태섭  상북고  168   80   75   70  80  75  Javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [32]:
df['SW특기'] = df['SW특기'].str.lower()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      python
2번    정대만  상북고  184   40   35   50  55  25        java
3번    송태섭  상북고  168   80   75   70  80  75  javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [33]:
df['SW특기']=df['SW특기'].str.upper()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      PYTHON
2번    정대만  상북고  184   40   35   50  55  25        JAVA
3번    송태섭  상북고  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [34]:
df['학교'] = df['학교']+'등학교'

In [35]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#

Column 추가

In [36]:
df['총합']=df['국어']+df['영어']+df['수학'] +df['과학'] +df['사회']
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465

In [13]:
df['결과'] = 'Fail' # 결과 컬럼을 만들고 기본값으로 Fail을 넣어준다.
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Fail
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Fail
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Fail

In [37]:
df.loc[df['총합']>400, '결과'] = 'Pass' # 총합이 400점 이상인 경우 결과를 Pass로 바꿔준다.
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205   NaN
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380   NaN
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325   NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90   NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240   NaN
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

# Column 삭제

In [39]:
df.drop(columns=['총합'])

       이름      학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA   NaN
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT   NaN
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN   NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON   NaN
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  Pass

In [40]:
df.drop(columns=['국어', '영어', '수학'])

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184  55  25        JAVA  205   NaN
3번    송태섭  상북고등학교  168  80  75  JAVASCRIPT  380   NaN
4번    서태웅  상북고등학교  187  75  80         NaN  325   NaN
5번    강백호  상북고등학교  188  35  10         NaN   90   NaN
6번    변덕규  능남고등학교  202  85  80           C  440  Pass
7번    황태산  능남고등학교  188  40  35      PYTHON  240   NaN
8번    윤대협  능남고등학교  190  95  95          C#  465  Pass

In [41]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205   NaN
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380   NaN
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325   NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90   NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240   NaN
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

In [42]:
df.drop(columns=['국어', '영어', '수학'], inplace=True)

In [43]:
df

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184  55  25        JAVA  205   NaN
3번    송태섭  상북고등학교  168  80  75  JAVASCRIPT  380   NaN
4번    서태웅  상북고등학교  187  75  80         NaN  325   NaN
5번    강백호  상북고등학교  188  35  10         NaN   90   NaN
6번    변덕규  능남고등학교  202  85  80           C  440  Pass
7번    황태산  능남고등학교  188  40  35      PYTHON  240   NaN
8번    윤대협  능남고등학교  190  95  95          C#  465  Pass

## Row 삭제

In [44]:
df.drop(index='4번')

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184  55  25        JAVA  205   NaN
3번    송태섭  상북고등학교  168  80  75  JAVASCRIPT  380   NaN
5번    강백호  상북고등학교  188  35  10         NaN   90   NaN
6번    변덕규  능남고등학교  202  85  80           C  440  Pass
7번    황태산  능남고등학교  188  40  35      PYTHON  240   NaN
8번    윤대협  능남고등학교  190  95  95          C#  465  Pass

In [48]:
df

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184  55  25        JAVA  205   NaN
3번    송태섭  상북고등학교  168  80  75  JAVASCRIPT  380   NaN
4번    서태웅  상북고등학교  187  75  80         NaN  325   NaN
5번    강백호  상북고등학교  188  35  10         NaN   90   NaN
6번    변덕규  능남고등학교  202  85  80           C  440  Pass
7번    황태산  능남고등학교  188  40  35      PYTHON  240   NaN
8번    윤대협  능남고등학교  190  95  95          C#  465  Pass

In [49]:
import pandas as pd
df=pd.read_excel("score.xlsx", index_col="지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [52]:
filt=df['수학']<80 # 수학 점수가 80점 미만인 학생들을 필터링한다.
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript
4번    서태웅  북산고  187  40  60  70  75  80         NaN
5번    강백호  북산고  188  15  20  10  35  10         NaN
7번    황태산  능남고  188  55  65  45  40  35      PYTHON

In [55]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [56]:
df[filt].index # 수학 점수가 80점 미만인 학생들의 지원번호를 출력한다.

Index(['2번', '3번', '4번', '5번', '7번'], dtype='str', name='지원번호')

In [ ]:
df.drop(index=df[filt].index) # 수학 점수가 80점 미만인 학생들을 데이터프레임에서 삭제한다.

       이름   학교    키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python
6번    변덕규  능남고  202   80  100   95  85  80       C
8번    윤대협  능남고  190  100   85   90  95  95      C#

In [58]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Row 추가

In [60]:
df.loc['9번'] = ['이정환', '해남고등학교', 184, 90, 90, 90, 90, 90, 'Kotlin']

In [61]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수     북산고  197   90   85  100  95  85      Python
2번    정대만     북산고  184   40   35   50  55  25        Java
3번    송태섭     북산고  168   80   75   70  80  75  Javascript
4번    서태웅     북산고  187   40   60   70  75  80         NaN
5번    강백호     북산고  188   15   20   10  35  10         NaN
6번    변덕규     능남고  202   80  100   95  85  80           C
7번    황태산     능남고  188   55   65   45  40  35      PYTHON
8번    윤대협     능남고  190  100   85   90  95  95          C#
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin

## Cell 수정

In [62]:
df.loc['4번', 'SW특기'] = 'Python'

In [63]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수     북산고  197   90   85  100  95  85      Python
2번    정대만     북산고  184   40   35   50  55  25        Java
3번    송태섭     북산고  168   80   75   70  80  75  Javascript
4번    서태웅     북산고  187   40   60   70  75  80      Python
5번    강백호     북산고  188   15   20   10  35  10         NaN
6번    변덕규     능남고  202   80  100   95  85  80           C
7번    황태산     능남고  188   55   65   45  40  35      PYTHON
8번    윤대협     능남고  190  100   85   90  95  95          C#
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin

In [64]:
df.loc['5번', ['학교', 'SW특기']] = ['능남고등학교', 'C'] # 5번 학생의 학교와 SW특기를 동시에 바꿔준다.
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수     북산고  197   90   85  100  95  85      Python
2번    정대만     북산고  184   40   35   50  55  25        Java
3번    송태섭     북산고  168   80   75   70  80  75  Javascript
4번    서태웅     북산고  187   40   60   70  75  80      Python
5번    강백호  능남고등학교  188   15   20   10  35  10           C
6번    변덕규     능남고  202   80  100   95  85  80           C
7번    황태산     능남고  188   55   65   45  40  35      PYTHON
8번    윤대협     능남고  190  100   85   90  95  95          C#
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin

## Column 순서 변경

In [66]:
cols = list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기']

In [68]:
df= df[[cols[-1]] + cols[0:-1]] # 맨 뒤에 있는 SW특기 컬럼을 맨 앞으로 이동시킨다.
df

            SW특기   이름      학교    키   국어   영어   수학  과학  사회
지원번호
1번        Python  채치수     북산고  197   90   85  100  95  85
2번          Java  정대만     북산고  184   40   35   50  55  25
3번    Javascript  송태섭     북산고  168   80   75   70  80  75
4번        Python  서태웅     북산고  187   40   60   70  75  80
5번             C  강백호  능남고등학교  188   15   20   10  35  10
6번             C  변덕규     능남고  202   80  100   95  85  80
7번        PYTHON  황태산     능남고  188   55   65   45  40  35
8번            C#  윤대협     능남고  190  100   85   90  95  95
9번        Kotlin  이정환  해남고등학교  184   90   90   90  90  90

In [69]:
df=df[['이름', '학교']]

In [70]:
df

       이름      학교
지원번호
1번    채치수     북산고
2번    정대만     북산고
3번    송태섭     북산고
4번    서태웅     북산고
5번    강백호  능남고등학교
6번    변덕규     능남고
7번    황태산     능남고
8번    윤대협     능남고
9번    이정환  해남고등학교

In [71]:
df.columns= ['Name', 'School']
df

     Name  School
지원번호
1번    채치수     북산고
2번    정대만     북산고
3번    송태섭     북산고
4번    서태웅     북산고
5번    강백호  능남고등학교
6번    변덕규     능남고
7번    황태산     능남고
8번    윤대협     능남고
9번    이정환  해남고등학교